  
h1{
  font-weight: 700;
  color: gray;
  text-align: center;
}
a{
  font-size: 0.98em;
  color: blue-gray;
  text-decoration: none
}
  
.sigin{
  display: flex;
  flex-wrap : wrap;
  justify-content: center;
  margin: 10%;
}
  
form{
  background-color: dodgerblue;
  border-radius: 8px;
  box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
  width: 450px;
}
  
  .form-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
    
  input{
    border: none;
    border-radius: 4px;
    background-color: gainsboro;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 90%;
 }
  .btn{
    text-align: center;
  }

button{
  font-weight: 600;
  font-size: 19px;
  color: white;
  background-color: deepskyblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin: 15px 20px;
 }

.userName{
  display: flex;
  align-items: baseline;
  margin: 0 20px;
}
.userinput{
  width: 100%;
}
.addDetails{
  margin-top: 5%;
    display:flex;
    justify-content: center;
}
.labelBlock{
  display: flex;
  align-items: baseline;
  font-size: 20px;
  color: darkslateblue;
}
.labelName{
  width: 50%;
}
.labelText{
  width: 50%;
}
.ImagePic{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.regDetails{
  margin: 0 25px;
}

.modal {
  z-index: 1; 
  padding-top: 100px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 35%;
  border-radius: 20px;
  box-shadow: 5px 10px 8px 10px lightslategrey;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.authError{
  text-align: center;
  color: red;
  font-size: 20px;
  font-weight: 700;
}

 @media screen and (max-width: 700px) {
  .input {
    width: 80%;
  }
  .modal-content {
    width: 80%;
  }
  .labelName{
    width: 40%;
  }
  .labelText{
    width: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .modal-content {
    width: 40%;
  }
}
 
    